body
{
   
}
div#ContainerDiv
{
    
    width:900px;
    float:left;
    background:#b9ab69;
    margin-left:calc(50% - 450px);
}



div.AnasayfaIcDiv
{
    background:#ABC888 !important;
}

div.AnasayfaDiv
{
    border: 3px solid tomato;
    margin: 10px;
    background:#b1d2f3;
}

div#UstDiv
{
    height: 140px;
}

div#MenuDiv
{
    height: 30px;
}

div#SolAnaDiv
{
   width: 200px; 
   float:left;

}
div#SolDiv
{ 
   height: 370px;

}
div#ReklamDiv
{
    height:120px;
}
div#SliderDiv
{
    float:left;
    width:calc(100% - 264px);
    height: 140px;
}
div#AltIcerikDiv
{
    float:left;
    width: calc(100% - 264px);
    height:370px;
}

div#FooterDiv
{
    float: left;
    width: 97%;
    height: 65px;
}